# PHASE 1 PROJECT

- Name: Lilibeth Chepngetich Langat
- Student pace: full time
- Scheduled project review date/time: 3/10/2025
- Instructor name: Nikita Njoroge

In [1]:
# import needed libraries
import pandas as pd   # data wrangling
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # data visualization
%matplotlib inline

In [2]:
# read csv file to pandas dataframe
main_aviation = pd.read_csv('./data/Aviation_Data.csv')
# check the first five rows
main_aviation.head()

/home/lili/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
# check shape of the dataframe
main_aviation.shape

(90348, 31)

In [4]:
# check general information of the dataframe
main_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [5]:
# check values inlocation dataset
main_aviation['Location'].value_counts()

ANCHORAGE, AK        434
MIAMI, FL            200
ALBUQUERQUE, NM      196
HOUSTON, TX          193
CHICAGO, IL          184
                    ...
Ramstein, Germany      1
RENICK, WV             1
MIFFLINTOWN, PA        1
ODELL, OR              1
MORRISDALE, PA         1
Name: Location, Length: 27758, dtype: int64

In [6]:
# subset the dataframe to include only the columns we will need for the analysis
subset_aviation = main_aviation[['Country','Event.Date','Injury.Severity','Aircraft.damage','Aircraft.Category',
                                 'Make','Model','Number.of.Engines','Engine.Type','Purpose.of.flight',
                                 'Weather.Condition','Broad.phase.of.flight','Total.Fatal.Injuries',
                                 'Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured',]]
# check top rows in dataset
subset_aviation.head()

,Country,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,United States,1948-10-24,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,UNK,Cruise,2.0,0.0,0.0,0.0
1,United States,1962-07-19,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,UNK,Unknown,4.0,0.0,0.0,0.0
2,United States,1974-08-30,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,IMC,Cruise,3.0,NaN,NaN,NaN
3,United States,1977-06-19,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,IMC,Cruise,2.0,0.0,0.0,0.0
4,United States,1979-08-02,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,VMC,Approach,1.0,2.0,NaN,0.0

In [7]:
# check shape of dataset
subset_aviation.shape

(90348, 16)

In [8]:
# check dataset info
subset_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 88663 non-null  object
 1   Event.Date              88889 non-null  object
 2   Injury.Severity         87889 non-null  object
 3   Aircraft.damage         85695 non-null  object
 4   Aircraft.Category       32287 non-null  object
 5   Make                    88826 non-null  object
 6   Model                   88797 non-null  object
 7   Number.of.Engines       82805 non-null  float64
 8   Engine.Type             81812 non-null  object
 9   Purpose.of.flight       82697 non-null  object
 10  Weather.Condition       84397 non-null  object
 11  Broad.phase.of.flight   61724 non-null  object
 12  Total.Fatal.Injuries    77488 non-null  float64
 13  Total.Serious.Injuries  76379 non-null  float64
 14  Total.Minor.Injuries    76956 non-null  float64
 15  Total.Uninjured         82977 non-null  float64
dtypes: float64(5), object(11)
memory usage: 11.0+ MB

In [9]:
# check values in country column
subset_aviation['Country'].value_counts()

United States             82248
Brazil                      374
Canada                      359
Mexico                      358
United Kingdom              344
                          ...
Wallis and Futuna             1
Pacific Ocean                 1
French Guiana                 1
Bosnia And Herzegovina        1
St Lucia                      1
Name: Country, Length: 219, dtype: int64

In [10]:
# group data using groupby
country = subset_aviation.groupby(['Country'])
country.get_group('United States')

,Country,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,United States,1948-10-24,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,UNK,Cruise,2.0,0.0,0.0,0.0
1,United States,1962-07-19,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,UNK,Unknown,4.0,0.0,0.0,0.0
2,United States,1974-08-30,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,IMC,Cruise,3.0,NaN,NaN,NaN
3,United States,1977-06-19,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,IMC,Cruise,2.0,0.0,0.0,0.0
4,United States,1979-08-02,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,VMC,Approach,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,United States,2022-12-26,Minor,NaN,NaN,PIPER,PA-28-151,NaN,NaN,Personal,NaN,NaN,0.0,1.0,0.0,0.0
90344,United States,2022-12-26,NaN,NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
90345,United States,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,VMC,NaN,0.0,0.0,0.0,1.0
90346,United States,2022-12-26,NaN,NaN,NaN,CESSNA,210N,NaN,NaN,Personal,NaN,NaN,0.0,0.0,0.0,0.0
90347,United States,2022-12-29,Minor,NaN,NaN,PIPER,PA-24-260,NaN,NaN,Personal,NaN,NaN,0.0,1.0,0.0,1.0

In [11]:
# edit date info to only have year
subset_aviation = subset_aviation.copy()  # modify without affecting the original df
subset_aviation['Year'] = subset_aviation['Event.Date'].str[:4] # take the year
subset_aviation['Year']

0        1948
1        1962
2        1974
3        1977
4        1979
         ...
90343    2022
90344    2022
90345    2022
90346    2022
90347    2022
Name: Year, Length: 90348, dtype: object

In [12]:
# check unique values in the year column
subset_aviation['Year'].unique()

array(['1948', '1962', '1974', '1977', '1979', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', nan, '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype=object)

In [13]:
# remove the Event.date column
subset_aviation.drop(columns='Event.Date', inplace=True)

In [14]:
# Convert year column to numeric
subset_aviation['Year'] = pd.to_numeric(subset_aviation['Year'], errors='coerce')

In [15]:
# create filter to select data from the year 2000
subset_aviation = subset_aviation[subset_aviation['Year'] >= 2000]

In [16]:
# check unique values in the year column
subset_aviation['Year'].unique()

array([2000., 2001., 2002., 2003., 2004., 2005., 2006., 2007., 2008.,
       2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017.,
       2018., 2019., 2020., 2021., 2022.])

In [17]:
subset_aviation.head()

,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
47675,United States,Non-Fatal,Substantial,NaN,Cessna,550,2.0,Turbo Fan,Positioning,VMC,Cruise,0.0,0.0,0.0,3.0,2000.0
47676,United States,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,1.0,Reciprocating,Personal,IMC,Cruise,2.0,0.0,0.0,0.0,2000.0
47677,United States,Non-Fatal,Substantial,NaN,Cessna,172G,1.0,Reciprocating,Personal,VMC,Cruise,0.0,0.0,0.0,2.0,2000.0
47678,United States,Non-Fatal,Substantial,NaN,Cessna,172A,1.0,Reciprocating,Instructional,VMC,Cruise,0.0,0.0,1.0,0.0,2000.0
47679,United States,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,1.0,Turbo Prop,Personal,VMC,Cruise,0.0,0.0,0.0,5.0,2000.0

In [18]:
# combine the make and model columns
subset_aviation['Make-Model'] = subset_aviation[['Make','Model']].fillna('').agg(' '.join, axis=1)
subset_aviation['Make-Model']

47675                          Cessna 550
47676                  Bellanca BL-17-30A
47677                         Cessna 172G
47678                         Cessna 172A
47679                    Piper PA-46-310P
                       ...
90343                     PIPER PA-28-151
90344                       BELLANCA 7ECA
90345    AMERICAN CHAMPION AIRCRAFT 8GCBC
90346                         CESSNA 210N
90347                     PIPER PA-24-260
Name: Make-Model, Length: 41214, dtype: object

In [19]:
# drop the make and model columns
subset_aviation.drop(columns=['Make','Model'],inplace=True)

In [20]:
subset_aviation.head()

,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Number.of.Engines,Engine.Type,Purpose.of.flight,Weather.Condition,Broad.phase.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year,Make-Model
47675,United States,Non-Fatal,Substantial,NaN,2.0,Turbo Fan,Positioning,VMC,Cruise,0.0,0.0,0.0,3.0,2000.0,Cessna 550
47676,United States,Fatal(2),Destroyed,NaN,1.0,Reciprocating,Personal,IMC,Cruise,2.0,0.0,0.0,0.0,2000.0,Bellanca BL-17-30A
47677,United States,Non-Fatal,Substantial,NaN,1.0,Reciprocating,Personal,VMC,Cruise,0.0,0.0,0.0,2.0,2000.0,Cessna 172G
47678,United States,Non-Fatal,Substantial,NaN,1.0,Reciprocating,Instructional,VMC,Cruise,0.0,0.0,1.0,0.0,2000.0,Cessna 172A
47679,United States,Non-Fatal,Substantial,NaN,1.0,Turbo Prop,Personal,VMC,Cruise,0.0,0.0,0.0,5.0,2000.0,Piper PA-46-310P

In [21]:
subset_aviation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41214 entries, 47675 to 90347
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 41198 non-null  object
 1   Injury.Severity         40214 non-null  object
 2   Aircraft.damage         39146 non-null  object
 3   Aircraft.Category       28406 non-null  object
 4   Number.of.Engines       36267 non-null  float64
 5   Engine.Type             34154 non-null  object
 6   Purpose.of.flight       35122 non-null  object
 7   Weather.Condition       36747 non-null  object
 8   Broad.phase.of.flight   14953 non-null  object
 9   Total.Fatal.Injuries    30131 non-null  float64
 10  Total.Serious.Injuries  29120 non-null  float64
 11  Total.Minor.Injuries    29701 non-null  float64
 12  Total.Uninjured         35574 non-null  float64
 13  Year                    41214 non-null  float64
 14  Make-Model              41214 non-null  object
dtypes: float64(6), object(9)
memory usage: 5.0+ MB

In [22]:
# rename columns
subset_aviation.rename(columns={'Injury.Severity':'injury_severity','Aircraft.damage':'aircraft_damage',
                                'Aircraft.Category':'aircraft_category','Number.of.Engines':'number_of_engines',
                                'Engine.Type':'engine_type','Purpose.of.flight':'flight_purpose','Weather.Condition':'weather_condition',
                                'Broad.phase.of.flight':'phase_of_flight','Total.Serious.Injuries':'serious_injuries','Total.Fatal.Injuries':'fatal_injuries',
                                'Total.Minor.Injuries':'minor_injuries','Total.Uninjured':'uninjured','Make-Model':'make_model'},
                                inplace=True
)

In [23]:
# check the renamed columns
subset_aviation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41214 entries, 47675 to 90347
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            41198 non-null  object
 1   injury_severity    40214 non-null  object
 2   aircraft_damage    39146 non-null  object
 3   aircraft_category  28406 non-null  object
 4   number_of_engines  36267 non-null  float64
 5   engine_type        34154 non-null  object
 6   flight_purpose     35122 non-null  object
 7   weather_condition  36747 non-null  object
 8   phase_of_flight    14953 non-null  object
 9   fatal_injuries     30131 non-null  float64
 10  serious_injuries   29120 non-null  float64
 11  minor_injuries     29701 non-null  float64
 12  uninjured          35574 non-null  float64
 13  Year               41214 non-null  float64
 14  make_model         41214 non-null  object
dtypes: float64(6), object(9)
memory usage: 5.0+ MB

In [42]:
subset_aviation['injury_severity'].unique()

array(['Non-Fatal', 'Fatal(2)', 'Fatal(1)', 'Incident', 'Fatal(10)',
       'Fatal(5)', 'Fatal(4)', 'Fatal(7)', 'Fatal(169)', 'Fatal(88)',
       'Fatal(3)', 'Fatal(6)', 'Unavailable', 'Fatal(131)', 'Fatal(12)',
       'Fatal(19)', 'Fatal(8)', 'Fatal(13)', 'Fatal(60)', 'Fatal(113)',
       'Fatal(11)', 'Fatal(143)', 'Fatal(83)', 'Fatal(9)', 'Fatal(24)',
       'Fatal(20)', 'Fatal(18)', 'Fatal(44)', 'Fatal(64)', 'Fatal(65)',
       'Fatal(92)', 'Fatal(118)', 'Fatal(265)', 'Fatal(26)', 'Fatal(138)',
       'Fatal(14)', 'Fatal(206)', 'Fatal(71)', 'Fatal(23)', 'Fatal(75)',
       'Fatal(21)', 'Fatal(46)', 'Fatal(102)', 'Fatal(115)', 'Fatal(141)',
       'Fatal(55)', 'Fatal(25)', 'Fatal(104)', 'Fatal(15)', 'Fatal(16)',
       'Fatal(121)', 'Fatal(160)', 'Fatal(45)', 'Fatal(145)',
       'Fatal(117)', 'Fatal(107)', 'Fatal(124)', 'Fatal(49)',
       'Fatal(154)', 'Fatal(96)', 'Fatal(114)', 'Fatal(199)', 'Fatal(89)',
       'Fatal(57)', 'Fatal', nan, 'Minor', 'Serious'], dtype=object)